@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    font-weight: normal;
    background-color: black;
    color: white;
}

#Navigation{
    text-align:right;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

#PyLibraries{
  display: table;
  margin: 0 auto;
}

#subjects{
  display: table;
  margin: 0 auto;
}
