<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/main.css">
    <title>Contact</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
    <center>
        <h1>Contact Me</h1>
        <img src="/static/Images/discord.png" alt= "discord"  width="100" height="100">
        <img src="/static/Images/github.png" alt= "github" width="100" height="100">
        <img src="/static/Images/steam.png" alt="steam" width="100" height="100">
    </center>

</body>
</html>