<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="static/JS/index.js"></script>
    <link rel="stylesheet" href="/static/CSS/main.css">
</head>
<body>
    <ul>
        <li>Home</li>
        <li>My Projects</li>
        <li>Contact</li>
    </ul>
    <center>
        <img src= "/static/Images/Portrait.png"
             alt="Sean Fricke" width="200" height="200">
        <h3>My name is Sean Fricke</h3>
        <p>
            I am an aspiring Pen Tester/Software Engineer (whichever one I can get into first).<br>
            I studied Cybersecurity and Data Forensics at the Medina County Career Center and <br>
            acquired my diploma at Medina High School. I spend my time mostly focusing on my <br>
            talents with Python and learning new things about the technological world we live in.<br>
            I have dabbled in Python libraries such as:
        </p>
    </center>

    <ul style="width: 20%; float:left; height:auto; background:gray; margin:10px">
        <li>Requests</li>
        <li>Flask</li>
        <li>NumPy</li>
        <li>Pandas</li>
    </ul>
    <ul style="width: 20%; float:left; height:auto; background:gray; margin:10px">
        <li>SciKit-learn</li>
        <li>Tensorflow</li>
        <li>OpenCV</li>
    </ul>
    <br>

    and subjects like:
    <ul>
        <li>Data Manipulation</li>
        <li>Computer Vision</li>
        <li>REST APIs</li>
        <li>Classification</li>
        <li>Neural Networks</li>
        <li>Reinforcement Learning</li>
    </ul>

</body>
</html>
