<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="static/JS/index.js"></script>
</head>
<body>
    <ul>
        <li>Home</li>
        <li>My Projects</li>
        <li>Contact</li>
    </ul>
    <img src= "/static/Images/Portrait.png"
         alt="Sean Fricke" width="200" height="200">
    <h3>My name is Sean Fricke</h3>
    <p>
        I am an aspiring Pen Tester/Software Engineer (whichever one I can get into first).<br>
        I studied Cybersecurity and Data Forensics at the Medina County Career Center and <br>
        acquired my diploma at Medina High School. I spend my time mostly focusing on my <br>
        talents with python and learning new things about the technological world we live in.<br>
        I have dabbled in python libraries such as:
        <ul>
            <li>Requests</li>
            <li>Flask</li>
            <li>NumPy</li>
            <li>Pandas</li>
            <li>SciKit-learn</li>
            <li>Tensorflow</li>
            <li>OpenCV</li>
        </ul>
        and subjects like:
        <ul>
            <li>Data Manipulation</li>
            <li>Computer Vision</li>
            <li>REST APIs</li>
            <li>Classification</li>
            <li>Neural Networks</li>
            <li>Reinforcement Learning</li>
        </ul>
    </p>

</body>
</html>
